 body {
    background-color: white;
    text-align: center;
}
.nav_bar {
    position: fixed;
    top: 0px;
    left: 0;
    background-color: white;
    border-bottom: 1px solid gray;
    border-right: 0px;
    width: 100%;
    height: 50px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
}

nav ul li {
    display: inline;
    margin-left: 0px;
    margin-right: 10px;
    list-style-type: none;
    color: black;
}

nav ul li a {
    color: black;

}

nav ul li i:first-child {
    float: left;
    margin-right: 30px;
}

nav ul li i:nth-child(2) {
    float: left;
}

a.space_cosmos {
    float: left;
    color: black;
    text-decoration:  none;
}

li .buttons_login {
    float: right;
    background-color: #326891;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    width: 80px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    position: relative;
    top: -10px;
    font-weight: bolder;
}

li .buttons_sub {
    float: right;
    background-color: #326891;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    width: 150px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    position: relative;
    top: -10px;
    font-weight: bolder;
}

.article_section_1 {
    width: 1000px;
    background-color: white;
    margin: 100px auto;
    text-align: left;
    color: grey;
    position: relative;
    right: -50px;
}
.editors_pick_container {
    width: 100%;
    height: auto;

}
.unlock_articles {
    width: 300px;
    height: 100px;
    margin: 10px auto;
}

.editors_pick {
    display: block;
    list-style-type: none;
    float: right;
    width: 400px;
    height: 550px;
    background-color:white;
    position: relative;
    top: -350px;
    left: -20px;
    text-align: left;
}

.editors_pick ul li {
    list-style-type: none;
    display: block;
}
.editors_pick_container p {
    font-size:20px;
    margin: 10px;
}
.editors_pick ul li img {
    width: 30%;
    height: 30%;
    position: relative;
    left: -35px;
    margin-right: 20px;
}

.editors_pick_text {
    font-size: 20px;
    float: right;
    position: relative;
    top: 15px;
    left: -120px;
    
}

.article_header {
    font-family: georgia;
    position: relative;
    left: -100px;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
    color: black;
}
.article_section_2 {
    position: relative;
    width: 700px;
    background-color : white;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color:black;
    text-align: left;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    font-size: 1.25rem;
    line-height: 1.875rem;
      
}
.article_section_2 ul li {
    display: inline;
    margin-left: 10px;
    list-style-type: none;
    color: black;
}
.article_section_2 ul li:first-child {
    position: relative;
    left: -51px;
    margin-right: 90px;
}
.article_section_2 ul li a i {
    position: relative;
    right: -250px;
    color: black;
}

.inflation_photo {
    position: relative;
    right: 50px; 
}
.bicep_img_info {
    font-size: 0.95rem;
    color: #888888;
    line-height: 15px;
}
.read_comment_button {
    background-color: #326891;
    color: white;
    margin-left: 1px;
    margin-right: 30px;
    padding: 10px;
    width: 250px;
    height: 40px;
    border: 0px;
    border-radius: 5px;
    font-weight: bolder;
    word-spacing: 2px;
}
.social_media_buttons{
    float: right;
    background-color: gray;
    padding: 2px;
    width: 30px;
    height: 30px;
    border: 0px;
    border-radius: 15px;
    margin-left: 20px;
}
.article_section_3 {
    position: relative;
    width: 90%;
    height: 70em;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color:white;
    top: -15px;
   
}
.article_section_3a {
    text-align: left;
    background-color:white;
    width:72%;
    height:70em;
    float: left;
    margin: 0;
    margin-right: 30px;
    color: black;
}
.article_section_3b {
    background-color:white;
    width:25%;
    height:70em;
    margin: 0;
    float: right;
    color: black;
    text-align: left;
}
.thumbnail {
    background-color: white;
    width: calc(33.3333% - 20px);
    height: 38%;
    float: left;
    margin: 10px;
   
}
.thumbnail img {
    width: 100%;
    height: 14em;
}
.article_section_4 {
    width: 90%;
    height: 38em;
    margin: 0 auto;
    margin-top: 100px;
    background-color: white;
    position: relative;
    top: 300px;
    left: 2px;
    clear: both;
    text-align: left;
}
.links_header img {
    float: left;
}
.links_header a {
    float: right;
    position: relative;
    left: -10px;
}
.line_breaks {
    line-height: 2px;
    font-weight: bolder;
}
.end_of_page__links_container {
    clear: both;
}
.end_of_page__links {
    width: 15%;
    height: 32em;
    text-align: left;
    background-color:white;
    float: left;
    margin: 10px;
    padding: 0px;  
}
.end_of_page__links p {
    list-style-type: none;
    margin-left: 0px;
    text-align: left;
    
}
.end_of_page__links a {
    color: black;
    text-decoration:none;
    text-align: left;
}
.more_links {
    clear: both;
    text-align: center;
}
.more_links ul li {
    display: inline;
    margin: 10px;
    text-align: center;
    position: relative;
    left: 10px;
    
}
.more_links ul li a {
    text-decoration: none;
    color: grey;
    font-size: small;
}
.footer {
    background-color:gray;
    text-align: center;
    height: 80px;
    width: 100%;
    border-top: 2px solid gray;
    margin-top: 20px;
    position: fixed;
    left: 0;
    bottom:-1px ;
}
.footer ul li {
    list-style-type: none;
    display: inline-block;
    margin-top: 20px;
    margin-left: auto;
}
.footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    
}
.expand {
    float: right;
    margin-right: 100px;
}
a:hover {
    text-decoration: underline;
}

/* aside section */

#aside-editors {
    float: right;
    width: 300px;
    height: 300px;
    text-align: left;
    position: relative;
    right: -40px;
    bottom: -850px;
}

img.thumb-mini {
    width: 75px;
    height: 75px;
    float: left;
    padding-right: 5px;
}

.picks-title {
    font-size: 13px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:normal;
    margin: 0;
}

.picks-main-title {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.picks-main-title, .editors-picks-links {
    text-decoration: none;
    color: black;
}

.editors-pick-article {
    height: 90px;
}

#meta-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}