body {
  background-color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

.nav_bar {
  background-color: white;
  border-bottom: 1px solid gray;
  border-right: 0;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav ul li {
  color: black;
  display: inline;
  list-style-type: none;
  margin-left: 0;
  margin-right: 10px;
}

nav ul li a {
  color: black;
}

nav ul li i:first-child {
  float: left;
  margin-right: 30px;
}

nav ul li i:nth-child(2) {
  float: left;
}

.space_cosmos {
  color: black;
  float: left;
  text-decoration: none;
}

.buttons_login {
  background-color: #326891;
  border: 0;
  border-radius: 5px;
  color: white;
  float: right;
  font-weight: bolder;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  top: -10px;
  width: 80px;
}

li .buttons_sub {
  background-color: #326891;
  border: 0;
  border-radius: 5px;
  color: white;
  float: right;
  font-weight: bolder;
  height: 40px;
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  top: -10px;
  width: 150px;
}

.article_section_1 {
  background-color: white;
  color: grey;
  margin: 100px auto;
  position: relative;
  right: -50px;
  text-align: left;
  width: 1000px;
}

.editors_pick_container {
  height: 100px;
  width: 100%;
}

.unlock_articles {
  height: 100px;
  margin: 0 auto;
  width: 250px;
}

.unlock_articles p {
  font-size: 18px;
  margin: 10px;
}

.article_header {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: bolder;
  left: -100px;
  position: relative;
  text-align: center;
}

.article_section_2 {
  background-color: white;
  color: black;
  line-height: 1.875rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  position: relative;
  text-align: left;
  width: 700px;
}

.article_section_2 ul li {
  color: black;
  display: inline;
  list-style-type: none;
  margin-left: 10px;
}

.inflation_img {
  background: url(assets/the_universe.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 700px;
  left: 40px;
  margin: 30px auto;
  position: relative;
  text-align: left;
  width: 80%;
}

.inflation_image_thumbnail {
  float: left;
  height: 200px;
  left: -30px;
  margin: -7px;
  position: relative;
  top: 160px;
  width: calc(25% - 10px);
}

.inflation_image_thumbnail_2 {
  float: left;
  height: 200px;
  left: -30px;
  margin: -7px;
  position: relative;
  top: 350px;
  width: calc(25% - 10px);
}

.inflation_text {
  font-size: larger;
  left: 190px;
  position: relative;
  text-align: left;
  line-height: 18px;
}

.inflation_text p {
  color: grey;
}

.footer ul li {
  display: inline-block;
  list-style-type: none;
  margin-left: auto;
  margin-top: 20px;
}

.more_links ul li {
  display: inline;
  left: 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  text-align: center;
}

.article_section_2 ul li:first-child {
  left: -51px;
  margin-right: 90px;
  position: relative;
}

.article_section_2 ul li a i {
  color: black;
  position: relative;
  right: -250px;
}

.bicep_img_info {
  color: gray;
  font-size: 0.95rem;
  line-height: 15px;
}

.read_comment_button {
  background-color: #326891;
  border: 0;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  height: 40px;
  margin-left: 1px;
  margin-right: 30px;
  width: 250px;
  word-spacing: 2px;
}

.social_media_buttons {
  background-color: gray;
  border: 0;
  border-radius: 15px;
  float: right;
  height: 30px;
  margin-left: 20px;
  width: 30px;
}

.article_section_3 {
  background-color: white;
  height: 70em;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
  top: -15px;
  width: 90%;
}

.article_section_3a {
  background-color: white;
  color: black;
  float: left;
  height: 70em;
  margin: 0;
  margin-right: 30px;
  text-align: left;
  width: 72%;
}

.article_section_3b {
  background-color: white;
  color: black;
  float: right;
  height: 70em;
  margin: 0;
  text-align: left;
  width: 25%;
}

.thumbnail {
  background-color: white;
  float: left;
  height: 38%;
  margin: 10px;
  width: calc(33.3333% - 20px);
}

.thumbnail img {
  height: 14em;
  width: 100%;
}

.footer {
  background-color: white;
  clear: both;
  height: 38em;
  left: 2px;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
  text-align: left;
  top: 300px;
  width: 90%;
}

.links_header img {
  float: left;
}

.links_header a {
  float: right;
  left: -10px;
  position: relative;
  text-decoration: none;
  color: grey;
}

.line_breaks {
  font-weight: bolder;
  line-height: 0.2px;
  margin-top: 2px;
}

.lb_1 {
  position: relative;
  top: -1px;
}

.end_of_page__links_container {
  clear: both;
  font-size: 14px;
}

.end_of_page__links {
  background-color: white;
  float: left;
  height: 32em;
  margin: 10px;
  text-align: left;
  width: 15%;
}

.end_of_page__links p {
  list-style-type: none;
  margin-left: 0;
  text-align: left;
}

.end_of_page__links a {
  color: black;
  text-align: left;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.more_links {
  clear: both;
  text-align: center;
}

.more_links a {
  color: grey;
  font-size: small;
  text-decoration: none;
}

hr {
  color: grey;
}

/* aside section */

.aside-editors {
  bottom: -750px;
  float: right;
  height: 300px;
  left: -90px;
  position: relative;
  text-align: left;
  width: 270px;
}

.thumb-mini {
  float: left;
  height: 75px;
  width: 75px;
  margin: 3px;
}

.picks-title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
  font-weight: normal;
  margin: 0;
}

.picks-main-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.editors-picks-links,
.picks-main-title {
  color: black;
  text-decoration: none;
}

.editors-pick-article {
  height: 90px;
}
